body {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 18px;
}

/* Credit: Matt Smith, https://codepen.io/AllThingsSmitty/pen/jommGQ */
.message {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica";
    font-size: 1.25rem;
    margin: 0 auto 1rem;
    max-width: 800px;
    padding: 0.5rem 1.5rem;
}
  
.message p {
    border-radius: 1.15rem;
    line-height: 1.25;
    padding: 0.5rem .875rem;
    position: relative;
    word-wrap: break-word;
}
  
.message p::before,
.message p::after {
    bottom: -0.1rem;
    content: "";
    height: 1rem;
    position: absolute;
}
  
p.from-me {
    align-self: flex-end;
    background-color: #248bf5;
    color: #fff; 
}
  
p.from-me::before {
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid #248bf5;
    right: -0.35rem;
    transform: translate(0, -0.1rem);
}
  
p.from-me::after {
    background-color: #fff;
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform:translate(-30px, -2px);
    width: 10px;
  }
  
p[class^="from-"] {
    margin: 0.5rem 0;
    width: fit-content;
}
  
p.from-me ~ p.from-me {
    margin: 0.25rem 0 0;
}
  
p.from-me ~ p.from-me:not(:last-child) {
    margin: 0.25rem 0 0;
}
  
p.from-me ~ p.from-me:last-child {
    margin-bottom: 0.5rem;
}
  
p.from-them {
    align-items: flex-start;
    background-color: #e5e5ea;
    color: #000;
}
  
p.from-them:before {
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid #e5e5ea;
    left: -0.35rem;
    transform: translate(0, -0.1rem);
}
  
p.from-them::after {
    background-color: #fff;
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
}
  
p[class^="from-"].emoji {
    background: none;
    font-size: 2.5rem;
}
  
p[class^="from-"].emoji::before {
    content: none;
}
  
.no-tail::before {
    display: none;
}
  
.margin-b_none {
    margin-bottom: 0 !important;
}
  
.margin-b_one {
    margin-bottom: 1rem !important;
}
  
.margin-t_one {
    margin-top: 1rem !important;
}

/* Credit: https://www.w3schools.com/csS/css3_buttons.asp */
.weiter-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #348ee9;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.weiter-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.weiter-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.weiter-button:hover span {
    padding-right: 25px;
}

.weiter-button:hover span:after {
    opacity: 1;
    right: 0;
}