<head>
    <title>Faktenchecks</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>

<body>
    <p>
        Klicke auf das jeweilige Label, um zu einem passenden Faktencheck zu gelangen.<br>
        Klicke <a href="label">hier</a>, um zurück zu den Nachrichten zu gelangen.
    </p>
    <p>
        <a
            href="https://correctiv.org/faktencheck/2022/01/14/nein-diese-bilder-von-gewebeuntersuchungen-beweisen-nicht-dass-covid-19-impfungen-toedlich-sind/">
            💀 Tödlich
        </a>
    </p>

    <p>
        <a
            href="https://correctiv.org/faktencheck/2021/01/20/es-gibt-keine-hinweise-dass-mrna-impfstoffe-gegen-covid-19-die-menschliche-dna-veraendern/">
            🧬 Verändern DNA
        </a>
    </p>

    <p>
        <a
            href="https://correctiv.org/faktencheck/hintergrund/2021/12/03/covid-19-impfstoffe-langzeitfolgen-spaetfolgen-sehr-unwahrscheinlich/">
            ⌚ Langzeitfolgen unklar
        </a>
    </p>

    <p>
        <a href="https://faktencheck.afp.com/http%253A%252F%252Fdoc.afp.com%252F9QX74G-1">
            🐍 Erfordern Entgiftung
        </a>
    </p>

    <p>
        <a
            href="https://correctiv.org/faktencheck/2021/06/18/covid-19-keine-belege-dass-das-durch-eine-mrna-impfung-produzierte-spike-protein-toxisch-wirkt/">
            🩸 Zerstörerisches Spike-Protein
        </a>
    </p>
    <p>
        <a
            href="https://correctiv.org/faktencheck/2021/10/22/nein-es-gibt-keine-hinweise-darauf-dass-covid-19-impfungen-eine-infektion-verstaerken-koennen/">
            🔥 Überreaktion des Immunsystems (ADE)
        </a>
    </p>
    <p>
        <a
            href="https://correctiv.org/faktencheck/2021/12/13/nein-daten-aus-grossbritannien-zeigen-nicht-dass-die-covid-19-impfung-das-immunsystem-langfristig-zerstoert/">
            🛡️ Schwächen Immunsystem
        </a>
    </p>
    <p>
        <a
            href="https://correctiv.org/faktencheck/2021/12/23/covid-19-geimpfte-infizieren-sich-weniger-wahrscheinlich-und-haben-seltener-schwere-verlaeufe-als-ungeimpfte/">
            ⚠️ Geimpfte stärker gefährdet
        </a>
    </p>
    <p>
        <a
            href="https://correctiv.org/faktencheck/2021/12/14/sucharit-bhakdis-aussage-es-gebe-keine-beweise-fuer-die-wirksamkeit-der-covid-19-impfstoffe-ist-falsch/">
            📊 Unwirksam / unnötig
        </a>
    </p>
    <p>
        <a
            href="https://correctiv.org/faktencheck/2021/11/02/braucht-ein-gesundes-immunsystem-keine-impfung-gegen-coronaviren-warum-diese-argumentation-zu-kurz-greift/">
            💪 Gesundes Immunsystem reicht
        </a>
    </p>
    <p>
        <a href="https://www.swr3.de/aktuell/fake-news-check/impfung-kinder-sicher-100.html">
            🧒 Risiko/Nutzen für junge Menschen
        </a>
    </p>
    <p>
        <a
            href="https://correctiv.org/faktencheck/2022/01/05/keine-belege-fuer-dramatischen-anstieg-des-risikos-fuer-herzkrankheiten-durch-mrna-impfungen/">
            🫀Herzprobleme
        </a>
    </p>
    <p>
        <a
            href="https://correctiv.org/faktencheck/2021/08/24/nein-zugelassene-covid-19-impfstoffe-enthalten-kein-graphenoxid/">
            🔬 Enthalten Graphenoxid/Nanopartikel
        </a>
    </p>
    <p>
        <a href="https://www.swr.de/wissen/zyklusstoerungen-nach-corona-impfung-100.html">
            🚺 Schwere Menstruationsstörungen
        </a>
    </p>
    <p>
        <a
            href="https://correctiv.org/faktencheck/2021/12/21/covid-19-impfung-irrefuehrende-behauptungen-ueber-fehlgeburten-und-krankheiten-bei-kindern-in-der-stillzeit/">
            🚼 Unfruchtbarkeit und Fehlgeburten bei Frauen
        </a>
    </p>
    <p>
        <a href="https://www.mdr.de/wissen/corona-covid-impfung-nicht-unfruchtbar-100.html">
            🍆 Unfruchtbarkeit bei Männern
        </a>
    </p>
    <p>
        <a
            href="https://correctiv.org/faktencheck/2022/01/21/nein-ein-fachartikel-beweist-nicht-dass-auffrischungsimpfungen-das-krebswachstum-beschleunigen/">
            🦀 Verursachen Krebs
        </a>
    </p>
    <p>
        <a
            href="https://correctiv.org/faktencheck/2021/11/30/irrefuehrende-behauptungen-ueber-gemeldete-nebenwirkungen-nach-covid-19-impfungen-in-der-vigibase-datenbank-der-who/">
            🤒 Nebenwirkungen (andere)
        </a>
    </p>
</body>