<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>

<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="weiter-button"><span>Weiter </span></button>
    </form>
    <p>*dieser dient dazu sich zu merken, welche Nachrichten du bereits gelabelt hast, damit sie dir nicht erneut
        angezeigt werden.</p>
</body>

<style lang="css">
    input {
        width: 100%;
        font-size: 28px;
    }
</style>