<head>
    <meta charset="utf-8">
    <title>Start</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>

<body>
    <div>
        <h2>Herzlich Willkommen!</h2>
        <p>Diese Webseite ist Teil meines Masterarbeitsprojekts zur Erkennung und Bekämpfung von Falschinformationen
            beim Messenger Telegram.</p>
        <p>
            Wenn du hier gelandet bist, dann wahrscheinlich, weil ich dich um Unterstützung beim Kategorisieren von
            Nachrichten gebeten habe. Wenn du direkt damit loslegen willst, dann klicke einfach <a
                href="warning">hier</a>.
        </p>
        <p>Wenn du vorher erfahren möchtest worum es in meiner Masterarbeit geht und was der Sinn und Zweck des Ganzen
            ist, dann klicke <a href="introduction">hier</a>.</p>
</body>